{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<br/>
{% if zipcode %}
	{{ zipcode }}
{% endif %}

{% if api %}
	{% if api == "Error..." %}
		There was an error, please try again...
	{% else %}

	<div class="jumbotron {{ cat_color }}">
	  <h1 class="display-4">{{ api.0.Category.Name }}</h1>
	  <p class="lead">Current: {{ api.0.ReportingArea }} {{ api.0.StateCode }} Air Quality: {{ api.0.AQI }}</p>

	  <p>{{ cat_descr }}</p>

	  {% endif %}

{% endif %}

{% endblock %}